Fragmented packets causing SSL Handshake to hang on IPv6

As reported to userhelp, a user unabled to downgrade to IPv4 is unable to complete an SSL handshake with Fastly.

Unable to reproduce locally, but the command that hangs is: `openssl s_client -6 -host '2a04:4e42::367' -port 443`

This adress comes from our dualstack: 
```sh
> host www.theguardian.com
www.theguardian.com is an alias for dualstack.guardian.map.fastly.net.
dualstack.guardian.map.fastly.net has address 151.101.65.111
dualstack.guardian.map.fastly.net has address 151.101.129.111
dualstack.guardian.map.fastly.net has address 151.101.193.111
dualstack.guardian.map.fastly.net has address 151.101.1.111
dualstack.guardian.map.fastly.net has IPv6 address 2a04:4e42:200::367
dualstack.guardian.map.fastly.net has IPv6 address 2a04:4e42:400::367
dualstack.guardian.map.fastly.net has IPv6 address 2a04:4e42:600::367
dualstack.guardian.map.fastly.net has IPv6 address 2a04:4e42::367
```




I'm the original reporter of the problem to userhelp.  Thanks for tracking this.  Here's the packet capture (gzip'ed pcapng file) showing what happened. [theguardian.pcapng.gz](https://github.com/guardian/dotcom-rendering/files/9880023/theguardian.pcapng.gz)


... except I *only* seem to see this bad behavior with the Guardian and the fastly servers.   All the other sites I've looked at have no trouble, *and* no 4s delay.  For reference, here's 5 attempts using www.google.com.  Nothing changed in the network setup between the failing fastly case and the working google case.
[sonic-google.pcapng.gz](https://github.com/guardian/dotcom-rendering/files/9880680/sonic-google.pcapng.gz)


Hey @nbriggs !

Hm, I had a couple of tries myself on different networks (office, home, box in a datacentre) and couldn't seem to replicate the issue. In all cases it only took ~0.5s to complete the handshake.

It'd be interesting to know if the issue is caused by the handshake or if theres an underlying connectivity issue, fastly servers allow pinging, do you experience the same latency/packet loss issues when using the `ping` command to ping `2a04:4e42::367`?

Hi @AshCorr -- there are no issues with pinging `2a04:4e42::367`. With the default minimal ping packets:
```
--- 2a04:4e42::367 ping6 statistics ---
100 packets transmitted, 100 packets received, 0.0% packet loss
round-trip min/avg/max/std-dev = 24.704/43.973/227.392/34.840 ms
```
DId you happen to look at the packet captures?  The content seems to be mangled in weird ways -- where I'd expect to see the "server hello" in response to the "client hello" it looks as though there's missing/garbled data, and then there are multiple retransmissions after (about) a 4s timeout, as it collects fragments of the data, and then either it makes progress or things just hang.

Something else weird I notice, but I'm not sure if it is related, DNS queries for both fastly.com and theguardian.com return *either* a cycle of 4 addresses:
```
% host -t aaaa www.fastly.com
www.fastly.com is an alias for prod.www-fastly-com.map.fastly.net.
prod.www-fastly-com.map.fastly.net has IPv6 address 2a04:4e42:600::313
prod.www-fastly-com.map.fastly.net has IPv6 address 2a04:4e42::313
prod.www-fastly-com.map.fastly.net has IPv6 address 2a04:4e42:200::313
prod.www-fastly-com.map.fastly.net has IPv6 address 2a04:4e42:400::313
```
_or_ a single address that is none of the above:
```
% host -t aaaa www.fastly.com
www.fastly.com is an alias for prod.www-fastly-com.map.fastly.net.
prod.www-fastly-com.map.fastly.net has IPv6 address 2a04:4e42:a::313
```
and for theguardian:
```
% host -t aaaa  www.theguardian.com
www.theguardian.com is an alias for dualstack.guardian.map.fastly.net.
dualstack.guardian.map.fastly.net has IPv6 address 2a04:4e42:400::367
dualstack.guardian.map.fastly.net has IPv6 address 2a04:4e42:600::367
dualstack.guardian.map.fastly.net has IPv6 address 2a04:4e42::367
dualstack.guardian.map.fastly.net has IPv6 address 2a04:4e42:200::367
% host -t aaaa  www.theguardian.com
www.theguardian.com is an alias for dualstack.guardian.map.fastly.net.
dualstack.guardian.map.fastly.net has IPv6 address 2a04:4e42:a::367
briggs@macrobiotic ~ % 
```


@AshCorr -- I think the DNS oddity is not related.  If you ask the fastly.net authoritative servers directly they also reply with the `2a04:4e42:a::367` address rather than the array of different addresses (load balancing?)

@AshCorr -- I think I may have the answer to this:  It's a fragmentation/reassembly problem, and I suspect Fastly's servers are the culprit.    Doing `ping6 -G 1300,1220,2 2a04:4e42::367` I see

```
% sudo tcpdump -n ip6 host 2a04:4e42::367
tcpdump: data link type PKTAP
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on pktap, link-type PKTAP (Apple DLT_PKTAP), capture size 262144 bytes
12:16:25.664904 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2a04:4e42::367: ICMP6, echo request, seq 0, length 1228
12:16:25.778790 IP6 2a04:4e42::367 > 2602:24a:de47:d2c0:486d:6817:e462:2a7c: ICMP6, echo reply, seq 0, length 1228
12:16:26.669954 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2a04:4e42::367: ICMP6, echo request, seq 1, length 1230
12:16:26.705256 IP6 2a04:4e42::367 > 2602:24a:de47:d2c0:486d:6817:e462:2a7c: ICMP6, echo reply, seq 1, length 1230
12:16:27.671612 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2a04:4e42::367: ICMP6, echo request, seq 2, length 1232
12:16:27.706683 IP6 2a04:4e42::367 > 2602:24a:de47:d2c0:486d:6817:e462:2a7c: ICMP6, echo reply, seq 2, length 1232
12:16:28.675897 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2a04:4e42::367: ICMP6, echo request, seq 3, length 1234
12:16:28.711156 IP6 2a04:4e42::367 > 2602:24a:de47:d2c0:486d:6817:e462:2a7c: ICMP6, echo reply, seq 3, length 1234
12:16:29.677656 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2a04:4e42::367: ICMP6, echo request, seq 4, length 1236
12:16:29.713897 IP6 2a04:4e42::367 > 2602:24a:de47:d2c0:486d:6817:e462:2a7c: ICMP6, echo reply, seq 4, length 1236
12:16:30.682955 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2a04:4e42::367: ICMP6, echo request, seq 5, length 1238
12:16:30.718824 IP6 2a04:4e42::367 > 2602:24a:de47:d2c0:486d:6817:e462:2a7c: ICMP6, echo reply, seq 5, length 1238
12:16:31.686726 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2a04:4e42::367: ICMP6, echo request, seq 6, length 1240
12:16:31.722898 IP6 2a04:4e42::367 > 2602:24a:de47:d2c0:486d:6817:e462:2a7c: ICMP6, echo reply, seq 6, length 1240
12:16:32.692171 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2a04:4e42::367: frag (0|1232) ICMP6, echo request, seq 7, length 1232
12:16:32.692187 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2a04:4e42::367: frag (1232|10)
12:16:33.697519 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2a04:4e42::367: frag (0|1232) ICMP6, echo request, seq 8, length 1232
12:16:33.697578 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2a04:4e42::367: frag (1232|12)
```
so after 1240 bytes (plus headers, I guess) they stop responding to the echo requests.

If I do the same thing to www.apple.com (2600:1406:2e00:390::1aca) I see
```
12:28:56.640137 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2600:1406:2e00:390::1aca: ICMP6, echo request, seq 5, length 1238
12:28:56.677160 IP6 2600:1406:2e00:390::1aca > 2602:24a:de47:d2c0:486d:6817:e462:2a7c: ICMP6, echo reply, seq 5, length 1238
12:28:57.645546 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2600:1406:2e00:390::1aca: ICMP6, echo request, seq 6, length 1240
12:28:57.681254 IP6 2600:1406:2e00:390::1aca > 2602:24a:de47:d2c0:486d:6817:e462:2a7c: ICMP6, echo reply, seq 6, length 1240
12:28:58.653135 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2600:1406:2e00:390::1aca: frag (0|1232) ICMP6, echo request, seq 7, length 1232
12:28:58.653193 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2600:1406:2e00:390::1aca: frag (1232|10)
12:28:58.690250 IP6 2600:1406:2e00:390::1aca > 2602:24a:de47:d2c0:486d:6817:e462:2a7c: ICMP6, echo reply, seq 7, length 1242
12:28:59.659238 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2600:1406:2e00:390::1aca: frag (0|1232) ICMP6, echo request, seq 8, length 1232
12:28:59.659251 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2600:1406:2e00:390::1aca: frag (1232|12)
12:28:59.696686 IP6 2600:1406:2e00:390::1aca > 2602:24a:de47:d2c0:486d:6817:e462:2a7c: ICMP6, echo reply, seq 8, length 1244
12:29:00.666842 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2600:1406:2e00:390::1aca: frag (0|1232) ICMP6, echo request, seq 9, length 1232
12:29:00.666857 IP6 2602:24a:de47:d2c0:486d:6817:e462:2a7c > 2600:1406:2e00:390::1aca: frag (1232|14)
```

and if I turn the MTU on my ethernet interface down from the nominal 1500 to 1460 then the TLS handshake issues with fastly's server seem to disappear.

As The Guardian is their customer, can you raise this issue with them?

@AshCorr -- I wonder if Fastly is engaging in a similar hack to what Cloudflare used to.    https://blog.cloudflare.com/increasing-ipv6-mtu/

An MTU <= 1472 on my ethernet interface seems to be OK, higher than that and it gets slow to no response:
```
briggs@macrobiotic /tmp % sudo ifconfig en0 mtu 1474               
briggs@macrobiotic /tmp % time curl -6 https://www.theguardian.com/
curl -6 https://www.theguardian.com/  0.02s user 0.01s system 0% cpu 3.940 total
briggs@macrobiotic /tmp % time curl -6 https://www.theguardian.com/
^C
curl -6 https://www.theguardian.com/  0.02s user 0.01s system 0% cpu 18.990 total
briggs@macrobiotic /tmp % time curl -6 https://www.theguardian.com/
curl -6 https://www.theguardian.com/  0.02s user 0.01s system 0% cpu 4.007 total
briggs@macrobiotic /tmp % time curl -6 https://www.theguardian.com/
curl -6 https://www.theguardian.com/  0.02s user 0.01s system 0% cpu 3.957 total
briggs@macrobiotic /tmp % sudo ifconfig en0 mtu 1472
briggs@macrobiotic /tmp % time curl -6 https://www.theguardian.com/
curl -6 https://www.theguardian.com/  0.02s user 0.01s system 15% cpu 0.190 total
briggs@macrobiotic /tmp % time curl -6 https://www.theguardian.com/
curl -6 https://www.theguardian.com/  0.02s user 0.01s system 19% cpu 0.147 total
briggs@macrobiotic /tmp % time curl -6 https://www.theguardian.com/
curl -6 https://www.theguardian.com/  0.02s user 0.01s system 19% cpu 0.146 total
briggs@macrobiotic /tmp % time curl -6 https://www.theguardian.com/
curl -6 https://www.theguardian.com/  0.02s user 0.01s system 19% cpu 0.144 total
briggs@macrobiotic /tmp % time curl -6 https://www.theguardian.com/
curl -6 https://www.theguardian.com/  0.02s user 0.01s system 19% cpu 0.146 total
briggs@macrobiotic /tmp % time curl -6 https://www.theguardian.com/
curl -6 https://www.theguardian.com/  0.02s user 0.01s system 19% cpu 0.145 total
```

@nbriggs Excellent investigation!

I think I'm able to replicate this now to a degree by using `ping` and sending large ICMP payloads.

```bash
ubuntu@ukgpbg-01:~$ ping6 -s 1500 -c 3 www.theguardian.com
PING www.theguardian.com(2a04:4e42:4::367 (2a04:4e42:4::367)) 1500 data bytes

--- www.theguardian.com ping statistics ---
3 packets transmitted, 0 received, 100% packet loss, time 2032ms

ubuntu@ukgpbg-01:~$ ping6 -s 1300 -c 3 www.theguardian.com
PING www.theguardian.com(2a04:4e42:4::367 (2a04:4e42:4::367)) 1300 data bytes
1308 bytes from 2a04:4e42:4::367 (2a04:4e42:4::367): icmp_seq=1 ttl=54 time=0.737 ms
1308 bytes from 2a04:4e42:4::367 (2a04:4e42:4::367): icmp_seq=2 ttl=54 time=0.737 ms
1308 bytes from 2a04:4e42:4::367 (2a04:4e42:4::367): icmp_seq=3 ttl=54 time=0.790 ms

--- www.theguardian.com ping statistics ---
3 packets transmitted, 3 received, 0% packet loss, time 2019ms
rtt min/avg/max/mdev = 0.737/0.754/0.790/0.025 ms
ubuntu@ukgpbg-01:~$ ping6 -s 1500 -c 3 www.apple.com
PING www.apple.com(g2a02-26f0-00a1-0589-0000-0000-0000-1aca.deploy.static.akamaitechnologies.com (2a02:26f0:a1:589::1aca)) 1500 data bytes
1508 bytes from g2a02-26f0-00a1-0589-0000-0000-0000-1aca.deploy.static.akamaitechnologies.com (2a02:26f0:a1:589::1aca): icmp_seq=1 ttl=56 time=173 ms
1508 bytes from g2a02-26f0-00a1-0589-0000-0000-0000-1aca.deploy.static.akamaitechnologies.com (2a02:26f0:a1:589::1aca): icmp_seq=2 ttl=56 time=295 ms
1508 bytes from g2a02-26f0-00a1-0589-0000-0000-0000-1aca.deploy.static.akamaitechnologies.com (2a02:26f0:a1:589::1aca): icmp_seq=3 ttl=56 time=376 ms

--- www.apple.com ping statistics ---
3 packets transmitted, 3 received, 0% packet loss, time 2003ms
rtt min/avg/max/mdev = 172.926/281.450/376.070/83.513 ms
```

Your idea of packet fragmentation seems like it could quite likely be the cause! Thanks!

I'll raise the issue with Fastly, I'm not sure if I can make the ticket public but if not I'll relay any useful information here!

Hey @nbriggs 

Ticket has been opened with fastly, unfortunately theres no easy way for me to share access!

They've gotten back to me and are wondering if your network uses a 6to4 tunnel?

Yes... as I mentioned, my ISP provides IPv6 access through a 6RD deployment (https://en.wikipedia.org/wiki/IPv6_rapid_deployment), which is based on a 6to4 tunnel.

@AshCorr -- here's the traceroute6 from my client to the guardian server at Fastly:
```
briggs@macrobiotic% traceroute6  -I www.theguardian.com 
traceroute6 to dualstack.guardian.map.fastly.net (2a04:4e42:a::367) from 2602:24a:de47:d2c0:3c39:4e6a:36ec:346d, 64 hops max, 16 byte packets
 1  1000-0000-0000-0000-0c2d-74ed-a420-2062.6rd.ip6.sonic.net  1.558 ms  3.418 ms  1.346 ms
 2  cust-gw.ipv6.sonic.net  30.035 ms  25.760 ms  25.523 ms
 3  2001:5a8:601:2::2  245.727 ms  29.047 ms  55.534 ms
 4  0.xe-0-0-2.cs1.equinix-sj.sonic.net  33.951 ms  32.671 ms  32.507 ms
 5  0.ae4.cr1.equinix-sj.sonic.net  840.726 ms  614.004 ms  1024.066 ms
 6  100.ae1.nrd1.equinix-sj.sonic.net  26.391 ms  25.785 ms  25.985 ms
 7  fastly.0.ae9.nrd1.equinix-sj.sonic.net  26.316 ms  26.172 ms  26.817 ms
 8  2a04:4e42:a::367  25.348 ms  26.032 ms  26.019 ms
```

Hey @nbriggs,

Fastly has taken a look at the data you provided and came back with the following:

>Hello Ashleigh,
 
>for 6rd deployments, MTU needs to take in account 20 bytes of the encapsulating IPv4 header (https://www.rfc->editor.org/rfc/rfc5969.html#section-9.1). e.g. If IPv4 had MTU 1500 then 6rd should be set at least at 1480 (not sure if Sonic >has also vlanid header to consider too) on their router. Not sure what could be the issue with IPv4 that you have mentioned >before but if it MTU related also for IPv4, it will affect the tunnel too. MSS 1440 shown in the packet capture would indicate >that the MTU was 1500 at that time.(do not see icmpv6 RAs in the pcap and cannot confirm). I would like to take some logs. >Can we get the fastly-debug (https://v6.fastly-debug.com/) code block from the end user? For further troubleshooting, we will >perform some simple ping tests for the source IPv6 shown in the code block so I am asking that they double check if ICMPv6 >is allowed on their side.
 
>Regards,

I appreciate that you've figured already figured out a workaround at your end and that it's a bit of an ask for you to keep helping us with info, but would you be able to provide some more info?

- Send the debug information you get from this page https://v6.fastly-debug.com/ to me. You might want to send it to my email `ashleigh.carr@guardian.co.uk` as it does include some information about your browser and locale.
- Confirm if you have ICMPv6 enabled (Looking at your packets I think you are? I'm not very familiar with low level networking however)

Thanks

(debug info to your e-mail)

ICMPv6 -- My end of the 6RD link terminates on the device (Smart/RG SR515ac) supplied by my ISP, while the IPv4 exit point (border relay address) is at their 184.23.144.1.  The SR515ac doesn't give me any control over whether it generates ICMPv6, but it wouldn't be my device that would be responsible for any "packet too big" ICMP responses... that would presumably be the Sonic border relay device.  Investigating the addresses associated with that border relay:
```
% host 184.23.144.1

1.144.23.184.in-addr.arpa domain name pointer cust-gw.ipv6.sonic.net.
briggs@macrobiotic medley % host -t aaaa cust-gw.ipv6.sonic.net.
cust-gw.ipv6.sonic.net has IPv6 address 2602:24b:8179:10::1
briggs@macrobiotic medley % ping6 -c 3 2602:24b:8179:10::1
PING6(56=40+8+8 bytes) 2602:24a:de47:d2c0:f934:300d:a2e3:c927 --> 2602:24b:8179:10::1
16 bytes from 2602:24b:8179:10::1, icmp_seq=0 hlim=63 time=26.155 ms
16 bytes from 2602:24b:8179:10::1, icmp_seq=1 hlim=63 time=26.732 ms
16 bytes from 2602:24b:8179:10::1, icmp_seq=2 hlim=63 time=26.570 ms

--- 2602:24b:8179:10::1 ping6 statistics ---
3 packets transmitted, 3 packets received, 0.0% packet loss
round-trip min/avg/max/std-dev = 26.155/26.486/26.732/0.243 ms
```

Given that there is no trouble through the 6RD gateway with other CDN networks (e.g., Cloudfront) using the same 6RD setup, I strongly believe it's an issue for Fastly to deal with.   From a practical perspective, it's not as if I can advise anyone who visits my network to reconfigure their phone or laptop to have a smaller MTU in case they want to use a Fastly hosted service!



I tried stepping outside of my network to a neighbour's IPv6-enabled network, and pinging (v6) a machine I left within my home network -- no answer.  Unfortunately, as I mentioned, the SR515ac has a crap^W^W^W doesn't allow me to control anything about its IPv6 responses.

Thanks for your patience and all the info! I've forwarded it all to Fastly! 

> Given that there is no trouble through the 6RD gateway with other CDN networks (e.g., Cloudfront) using the same 6RD setup, I strongly believe it's an issue for Fastly to deal with. 

I'm inclined to agree, it is suspicious that it only seems to affect Fastly.

> From a practical perspective, it's not as if I can advise anyone who visits my network to reconfigure their phone or laptop to have a smaller MTU in case they want to use a Fastly hosted service!

Thats a very good point!




Hey @nbriggs

Fastly support have asked if you could possibly be able to run the test again with the following command and provide the curl output, the `ssl_decrypt.keylog`  file that gets generated, and the pcap file? This should help them decrypt some of the packets that do make it through! Again includes some info you might find sensitive, so might want to email your results to me!
 
```bash
SSLKEYLOGFILE=./ssl_decrypt.keylog curl -SkvL https://www.theguardian.com -H 'Fastly-debug: 1' > /dev/null
```

It looks like you also have another issue open with Sonic themselves https://forums.sonic.net/viewtopic.php?t=17441&p=60750 has their fixed helped at all?

Thanks!

@AshCorr -- no worries, I'll be able to e-mail you that within a couple of hours.

Yes, that's me on the Sonic forums -- their change has made no difference at all with the problem (which I've just told them -- oddly, the Sonic forums don't actually e-mail me when there's a response posted).  I'd open a real ticket there, but they don't accept tickets for their IPv6 tunnels, only their native IPv6 implementation (which isn't available to me).

Hey @AshCorr -- is there any progress by Fastly on this issue?

Hey @nbriggs,

Sorry for the delay! Fastly have been able to do a pretty deep investigation into all the packets and believe that the issue is most likely with Sonic and how they've configured their 6rd tunnel. I've included parts of their response below

-----------------------------------

> The RFC5969 discuss on IPv6 Rapid Deployment and in section 9.1 it discuss IPv6 in IPv4 Encapsulation and Maximum Transmission Unit in detail. We have extracted few lines from there as you can see below.
>  
> https://www.rfc-editor.org/rfc/rfc5969#page-13
> IPv4 Path MTU discovery MAY be used to adjust the MTU of the tunnel as described in Section 3.2.2 of RFC 4213 [RFC4213], or the 6rd Tunnel MTU might be explicitly configured.
> 
> > If the MTU is well-managed such that the IPv4 MTU on the CE WAN side interface is set so that no fragmentation occurs within the boundary of the SP, then the 6rd Tunnel MTU should be set to the known IPv4 MTU minus the size of the encapsulating IPv4 header (20 bytes).  For example, if the IPv4 MTU is known to be 1500 bytes, the 6rd Tunnel MTU might be set to 1480 bytes.  Absent more specific information, the 6rd Tunnel MTU SHOULD default to 1280 bytes.
>  
> Based on all the findings so far, our conclusion is, this relates to how the provider Sonic implement their IPv6 Rapid Deployment and most specifically relates to how they handle or implemented their MTU settings.

> The MTU of 1500 bytes is a standard in any IPv4 network where IPv6 networks must be configured the minimum of 1280 bytes or greater. These can be found on relevant RFCs and Fastly is compliant to those.
>  
> The only reason that the end client able to establish connections to others such as Google is because the responses from those servers been small and fits inside perfectly in 6rd packet limitation.
>  
> If we look back at where the end client connected to Google,
> The client announces its MSS as 1440 bytes.
> Google sends the "Server Hello" message which was only 1294 bytes in length. This is the total packet length. The "Server Hello" message itself was 1144 bytes.
>  
> If we compare this with Fastly working scenario,
> The client announces its MSS as 1412 bytes.
> The Guardian sends the "Server Hello" message which was 1486 bytes in length. Again this is the total packet length. The "Server Hello" message itself was 1293 bytes.
>  
> If the customer did not announce its MSS with a lower value, a bigger "Server Hello" would not be fit inside the 6rd tunnel.

-----------------------------------

Sorry that this doesn't help you very much, but maybe this information might help Sonic?


@AshCorr Thanks for the follow-up.  Perhaps they said something else that's not included, but:

>Based on all the findings so far, our conclusion is, this relates to how the provider Sonic implement their IPv6 Rapid Deployment and most specifically relates to how they handle or implemented their MTU settings.

Is not really actionable because Sonic does not manage the MTU settings on their customer's devices, and the initial selection of the outgoing MSS in the TCP 3-way handshake is based on the MTU on my device which is independent of the destination.

What I suspect is going on is a PMTU (Path MTU) discovery failure, which could have a number of reasons that I can think of (there may be others, perhaps Fastly can comment on this) -- the situation is that they do the TCP 3-way handshake and establish the MSS values for the stream, then they receive the "Client Hello" packet, and formulate the "Server Hello" packet in response, that packet is too big to be encapsulated in a single IPv4 packet at the Sonic inbound gateway, and then one of the following happens:

1. The Sonic 6RD gateway DOES NOT generate an ICMP6 Packet-Too-Big response (Sonic's problem)
2. The Sonic 6RD gateway DOES generate an ICMP6 PTB response but it IS NOT delivered to the correct Fastly server (multi-pathing issues? Fastly's problem)
3. The Sonic 6RD gateway DOES generate an ICMP6 PTB response and it IS delivered to the correct Fastly server but it IS NOT used to adjust the PMTU for the endpoints and the effective MSS for the stream (Fastly's problem)

One other option for fixing this could be if Sonic's 6RD gateway has the capability of adjusting the MSS value in the initial TCP6 handshake so that the client's (that is, my system's) MSS is limited to whatever would generate a TCP6 response packet no larger than the 6RD gateway can fit into the 1500 byte IPv4 packet it is encapsulating it in.

Could you poke Fastly and see if they have anything more to add (or if this info was already in what they have said to you)




I can certainly ask them, I'll get back to you.

Hey @nbrigg,

Sorry about the delay!

Fastly have just let me know that they've attempted a patch on their end that might fix the problem if it is being caused by Packet-Too-Big responses! 

> Hope you are doing well. I know it has been some time from our last email but on our side this was an issue that we kept working on. We have had very productive and long discussions with our Network team. There were many test carried out specially regarding the End-customers provider 'Sonic'. 
>  
> In my last detailed emails, I have pointed out that the issue is related to MTU and MSS sizes while data traversing through Soinc 6rd tunnel. Our Network team done few tests and they had one trick up in their sleeves. This is actually a workaround when such providers (like Sonic) struggles to manipulate MTU and/or MSS sizes. This has been applied on the SJC POP where we peer with the provider Sonic so now from our end Fastly reduces the MTU size to match with Sonic 6rd tunnel MTU. This way, the packets won't get dropped for being too large (at Sonic 6rd interface).

Has this fixed helped at all on your end?

Hi @AshCorr -- Thanks... yes, I've been running since yesterday with MTU default (1500) on my laptop and have tested with
```
echo "QUIT" | openssl s_client -6 -connect 2a04:4e42::367:443
```
and checked that I'm no longer seeing malformed fragments in the wireshark trace, and that the MSS values are reasonable.

I hope that Fastly continues on their own to look at why they weren't getting the path MTU discovery correct such that it necessitated this workaround, but I'm good for now.

That's good news @nbriggs !

I'll keep checking in on Fastly, but my immediate guess is that the underlying issue likely won't be fixed any time soon.

If I get any more info from Fastly about a fix I'll update this issue, but are you alright for me to close it for now?

Hi @AshCorr -- sure, go ahead and close this.  Thanks for managing to get things to a more workable state!

Great, thanks for all the help debugging @nbriggs !